<h1>{{title}}</h1>

<ul>
    {{#each student}}
        <li>
            {{ studentNumber }}  {{ Name }} / {{ year }} / 
            {{ major }} / {{ addmissionDate }} / {{ email }} 
            
        </li>
    {{/each}}
</ul>