
<h1>{{ title }}</h1>

<table>
    <tr>
        <td>StudentNumber</td>
        <td>StudentName</td>
        <td>Major</td>
    </tr>

    {{#each student}}
    <tr>
        <td>{{StudentNumber}}</td>
        <td>{{StudentName}}</td>
        <td>{{Major}}</td>
    </tr>
    {{/each}}
</table>


<!--
<h1>{{ title }}</h1>

<table>
    <tr>
        <td>Dname</td>
        <td>Dnumber</td>
    </tr>

    {{#each department}}
    <tr>
        <td>{{Dname}}</td>
        <td>{{Dnumber}}</td>
    </tr>
    {{/each}}
</table>
-->

